---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';

import { sortByDateDescending } from '../../utils/posts-utils'

const posts = sortByDateDescending(await getCollection('resenas'));

---

<Layout title='RESEÑAS'>
  <section class="text-center p-10">
    <div class="max-w-7xl mx-auto px-4 md:px-0">
      <div class="mb-12">
        <div class="flex items-center justify-center space-x-4">
            <img src="/img/general/sparkle.png" class="w-16 h-16" alt="">
            <h1 class="text-4xl font-lora text-[#322203]">RESEÑAS</h1>
        </div>
        <!-- Contenedor del buscador alineado a la derecha -->
        <div class="mt-4 flex justify-end">
          <input 
            id="search-posts"
            type="text" 
            placeholder="Buscar" 
            class="border border-gray-300 rounded-full px-4 py-2 focus:outline-none shadow-sm transition-all duration-300 hover:border-[#322203]"
          />
        </div>
      </div>
      <div id="posts-grid" class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {posts.map((post) => (
          <Card
            image={post.data.image}
            title={post.data.title}
            class= 'card'
            data-title={post.data.title.toLowerCase()}
          />
        ))}
      </div>
    </div>
  </section>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const searchInput = document.getElementById('search-posts');
    const postsGrid = document.getElementById('posts-grid');
    if (searchInput && postsGrid) {
      const cards = postsGrid.querySelectorAll<HTMLElement>('.card');
      const inputElement = searchInput as HTMLInputElement; 

      inputElement.addEventListener('input', () => {
      const searchTerm = inputElement.value
        .toLowerCase()
        .normalize('NFD')
        .replace(/[\u0300-\u036f]/g, '');

      cards.forEach((card) => {
        const title = card.getAttribute('data-title');
        console.log(title)
        const normalizedTitle = title || ''
          .toLowerCase()
          .normalize('NFD')
          .replace(/[\u0300-\u036f]/g, '');

        if (normalizedTitle.includes(searchTerm)) {
          card.style.display = '';
        } else {
          card.style.display = 'none';
        }
      });
    });
    }
  });
</script>

