---
// Layout.astro
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
			rel="stylesheet"
		/>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
			rel="stylesheet"
		/>
		<title>Sensatez Literaria</title>
	</head>
	<body>
		<Header />
		<main>
			<div class="relative flex items-center justify-center bg-cover bg-center" style="background-image: url('/img/general/main-cover.jpg'); height: calc(100vh - 128px);">
				<!-- Overlay con opacidad -->
				<div class="absolute inset-0 bg-[#8C6E4A] opacity-50"></div>
				<!-- Contenido centrado -->
				<div class="relative text-center text-white z-10">
					<h1 class="text-4xl lg:text-6xl font-lora">
						EXPLORADORA DE UNIVERSOS LITERARIOS
					</h1>
					<h2 class="text-2xl lg:text-4xl mt-4 font-lora">
						DONDE LAS PALABRAS CREAN MUNDOS
					</h2>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
