---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";

import {
  sortByDateDescending,
  generateCarouselItems,
} from "../utils/posts-utils";

const blogs = sortByDateDescending(await getCollection("blogs"));
const escritos = sortByDateDescending(await getCollection("escritos"));
const resenas = sortByDateDescending(await getCollection("resenas"));

const carouselItems = [
  ...generateCarouselItems([blogs[0]], "Blog"),
  ...generateCarouselItems([escritos[0]], "Escrito"),
  ...generateCarouselItems([resenas[0]], "Rese침a"),
];
---

<Layout title="INICIO" nobg={true}>
  <!-- Desactivar el background global -->
  <section class="relative flex items-center justify-center min-h-screen">
    <div
      class="absolute inset-0 bg-cover bg-center opacity-10 z-0"
      style="background-image: url('/img/general/shared-cover.jpg');"
    ></div>
    <div class="relative z-10 w-full sm:w-4/5 max-w-[90%] md:max-w-[80%] mx-auto">
      <Carousel items={carouselItems} />
    </div>
  </section>

  <section class="relative flex items-center justify-center min-h-screen">
    <div
      class="absolute inset-0 bg-cover bg-center opacity-10 z-0"
      style="background-image: url('/img/general/shared-cover.jpg');"
    ></div>
    <div class="relative z-10 w-full sm:w-4/5 max-w-[90%] md:max-w-[80%] mx-auto text-center">
      <h1 class="text-4xl font-bold">Secci칩n 2</h1>
    </div>
  </section>

  <section class="relative flex items-center justify-center min-h-screen">
    <div
      class="absolute inset-0 bg-cover bg-center opacity-10 z-0"
      style="background-image: url('/img/general/shared-cover.jpg');"
    ></div>
    <div class="relative z-10 w-full sm:w-4/5 max-w-[90%] md:max-w-[80%] mx-auto text-center">
      <h1 class="text-4xl font-bold">Secci칩n 3</h1>
    </div>
  </section>

  <section class="relative flex items-center justify-center min-h-screen">
    <div
      class="absolute inset-0 bg-cover bg-center opacity-10 z-0"
      style="background-image: url('/img/general/shared-cover.jpg');"
    ></div>
    <div class="relative z-10 w-full sm:w-4/5 max-w-[90%] md:max-w-[80%] mx-auto text-center">
      <h1 class="text-4xl font-bold">Secci칩n 4</h1>
    </div>
  </section>
</Layout>
