---
import Layout from '../layouts/Layout.astro';
---
<Layout title="SOBRE MÍ">
  <section class="container mx-auto px-4 py-8 flex flex-col items-center md:flex-row md:space-x-8">
    <div class="flex-shrink-0 mb-6 md:mb-0 md:w-2/5 flex items-center">
      <img src="/img/general/sobre-mi.png" alt="Eli Montero" class="w-full h-auto">
    </div>
    
    <div class="md:w-3/5 flex flex-col justify-between">
        <div class="space-y-4">
            <div class="flex items-center space-x-4">
                <img src="/img/general/sparkle.png" class="w-16 h-16" alt="">
                <h1 class="text-4xl font-lora text-[#322203]">SOBRE MÍ</h1>
            </div>
            <!-- <h1 class="text-4xl font-lora text-[#322203] text-center md:text-left">SOBRE MÍ</h1> -->
            
            <p class="text-lg font-inter text-[#322203] leading-relaxed text-center md:text-left">
            Hola! Soy Eli, la mente y el corazón detrás de Sensatez Literaria. Los libros son mi refugio y mi pasión. Mi amor por la literatura no solo me ha llevado a leer vorazmente, sino también a escribir más que nunca.
            </p>
            
            <p class="text-lg font-inter text-[#322203] leading-relaxed text-center md:text-left">
            Además de mi pasión por los libros y la escritura, me dedico al Marketing Digital, a través de este proyecto he podido entender mejor las tendencias en redes sociales en esta área, recientemente me especialicé en Marketing Editorial, para seguir conociendo mucho más del mundo de los libros.
            </p>
            
            <p class="text-lg font-inter text-[#322203] leading-relaxed text-center md:text-left">
            En Sensatez Literaria quiero compartir contigo mi amor por los libros con recomendaciones, reseñas y contenido informativo que promueve la lectura, también podrás encontrar un poco más de mi escritura. Te invito a unirte a este viaje literario.
            </p>
            
            <p class="text-lg font-inter text-[#322203] text-center md:text-left">
            ¡Gracias por estar aquí!
            </p>
        </div>
        <div class="flex justify-center md:justify-end mt-6">
            <img src="/img/general/firma.png" alt="Firma de Eli Montero" class="w-1/2 md:w-2/3 h-auto">
        </div>
    </div>
  </section>
</Layout>
