<footer class="bg-[#EBE7E0] text-[#845533] shadow-md mt-auto">
  <div class="container mx-auto py-4 flex items-center justify-center">
    <p class="font-lora mr-4">ENCUÉNTRAME EN:</p>
    <div class="flex space-x-4">
      <a href="https://www.instagram.com/sensatezliteraria" target="_blank">
        <img src="/img/iconos/instagram.png" alt="Instagram" class="h-6 w-6" />
      </a>

      <a href="https://www.threads.net/@sensatezliteraria" target="_blank">
        <img src="/img/iconos/threads.png" alt="Threads" class="h-6 w-6" />
      </a>

      <a href="https://www.tiktok.com/@sensatezliteraria" target="_blank">
        <img src="/img/iconos/tik-tok.png" alt="TikTok" class="h-6 w-6" />
      </a>

      <a
        href="https://www.goodreads.com/user/show/128299069-eli-montero"
        target="_blank"
      >
        <img src="/img/iconos/goodreads.png" alt="Goodreads" class="h-6 w-6" />
      </a>

      <a href="https://elimonterob.substack.com" target="_blank">
        <img src="/img/iconos/substack.png" alt="Substack" class="h-6 w-6" />
      </a>
    </div>
  </div>
</footer>
